@layer base {
  :root {
    --sideclr: rgb(24, 146, 211);
    --clr1: rgb(190, 145, 29);
    --clr2: rgb(20, 147, 215);
    --clr3: rgb(225, 232, 240);

    * {
      margin: 0;
      padding: 0;
    }
    html {
      box-sizing: border-box;
    }
    body {
      display: grid;
      font-family: "Dosis", sans-serif;
      grid-template-columns: auto 1fr;
      min-height: 100vh;
      min-height: 100dvh;
    }
    a {
      text-decoration: none;
    }
  }
}
@layer nav {
  nav {
    width: 150px;
    padding: 20px 30px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 65px;
    background-color: var(--sideclr);
    color: white;
    height: 100vh;
  }
  nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  nav ul li a {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
  }
  svg {
    fill: #fff;
  }

  nav ul li:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  .head {
    font-size: 26px;
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .head svg {
    font-size: 60px;
  }
}
@layer intro {
  main {
    /* padding-inline: 20px; */
    padding-block-start: 20px;
    height: 130px;
    max-width: 100%;
  }
  main section .search svg {
    fill: black;
  }
  input[type="search"] {
    width: 50%;
    padding: 7px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--clr3);
  }
  .search {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .search a {
    padding-left: 20px;
    padding-right: 30px;
  }
  .intro {
    padding-inline: 25px;
    padding-bottom: 10px;
  }
  .search img,
  .texts img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: bottom;
    background-size: contain;
  }
  .texts {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .me {
    display: flex;
    flex-direction: column;
  }
  .buttons {
    max-width: 300px;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-left: auto;
  }
  .buttons button {
    width: 100%;
    height: 35px;
    padding-inline: 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: var(--clr2);
    color: white;
    font-size: 1rem;
    text-align: center;
    justify-content: end;
  }
  .me h2 {
    font-size: 1.7rem;
  }
}
@layer content {
  .content {
    min-width: fit-content;
    background-color: var(--clr3);
    padding-top: 20px;
    padding-inline: 20px;
    height: fit-content;
    display: flex;
    gap: 20px;
  }
  .cont {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-rows: repeat(2, 1fr); */
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    padding-right: 30px;
  }
  .box {
    background-color: white;
    height: 150px;
    padding-inline: 20px;
    padding-block: 20px;
    border-radius: 15px;
    border-left: 10px solid var(--clr1);
  }
  .side2 {
    justify-self: end;
    margin-left: auto;
  }
  .side {
    width: 200px;
    height: fit-content;
    padding: 20px;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 3px 3px 3px rgba(95, 95, 95, 0.3);
}
.gap {
    border-bottom: 1px solid;
    padding-bottom: 10px;
}
}